form#media-pixabay-external .form-item-external-image,
form#media-pixabay-external input#edit-search {
  display: inline-block;
}

#pixabay-output .media-list-thumbnails li {
  float: none;
  display: inline-block;
}

#pixabay-output li .label-wrapper a {
  padding: 15px 0;
}

#pixabay-output ul li .media-thumbnail {
  position: relative;
  cursor: pointer;
}

#pixabay-output ul li .media-thumbnail img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}
